@media (max-width: 1280px) {

  body {
    font-size: 13px;
    overflow-x: hidden;
  }

  .sps {
    font-size: 2em;
    text-align: center;
  }

  .main {
    margin-top: 30vh;
  }

  .sec {
    padding: 60px 15px;
    gap: 3em;
  }

  .content {
    flex-direction: column !important;
    gap: 1rem;
    align-items: center;
  }

  .img {
    width: 95vw;
    height: auto;
    border-radius: 20px;
    mask-image: none;
    -webkit-mask-image: none;
  }

  .sec p {
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    -webkit-text-stroke: 0.5px #b4974c;
  }

  #banner {
    height: 20vh;
    object-fit: cover;
  }

  #sec1 {
    width: 90vw;
    height: 40vh;
    top: 4vh;
  }

  #valheim {
    top: 82%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }

  #overlay {
    margin-top: 20vh;
    height: auto;
    padding: 2em;
  }

  #question {
    font-size: 1.4em;
    padding: 0.5em;
  }

  .btn-runa {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    width: 90%;
    max-width: 300px;
  }

  .h3 {
    font-size: 1.1rem;
    padding: 0 1rem;
  }

  .linea-runa-footer {
    width: 85%;
  }

  footer {
    padding-top: 3em;
  }

  .redes {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
