@media (max-width: 1099px) {

  /* main.css */
  .sec {
    padding: 100px 20px;
    gap: 10em;
  }

  .content {
    flex-direction: column !important;
    gap: 0.5rem;
  }

  .img {
    width: 100%;
    height: 50vh;
    border-radius: 30px;
  }

  .sec p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5em;
    padding: 0.5em;
    -webkit-text-stroke: 1px #b4974c;
  }

  .sps {
    font-size: 3em;
    text-align: center;
  }

  /* overlay.css */
  #question {
    font-size: 2em;
    padding: 1rem;
  }

  /* footer.css */
  footer{
    padding-top: 5em;
  }
  .redes {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .btn-runa {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    text-align: center;
    max-width: 350px;
    width: 100%;
    white-space: nowrap;
  }

  .h3 {
    font-size: 1.2rem;
  }

  .linea-runa-footer {
    width: 90%;
  }

  /* index.css */
  #banner {
    height: 20vh;
    background-size: cover;
  }

  #sec1 {
    width: 80vw;
    height: 50vh;
    top: 5vh;
  }
}
